<app-loading [loading]="loading"></app-loading>
<app-showerror [errormsg]="errormsg" [error]="error"></app-showerror>

<div *ngIf="!loading" class="row animated fadeIn">
    <div class="col-2">
        <img [src]="artist.images | noimage" class="img-thumbnail img-circle" alt="">
    </div>
    <div class="col">
        <h3>{{ artist.name }}</h3>
        <p>
            <a [href]="artist.external_urls.spotify" class="btn btn-secondary">
                Ver en spotify oficial
            </a>
        </p>
    </div>
    <div class="col-4 text-right">
        <button [routerLink]="['/search']" class="btn btn-danger">Regresar</button>
    </div>
</div>

<div class="row mt-5">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Portada</th>
                    <th>Cancion</th>
                    <th>Album</th>
                    <th>Vista previa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let topTrack of topTracks">
                    <td>
                        <img [src]="topTrack.album.images | noimage" class="img-thumb">
                    </td>
                    <td>{{ topTrack.name }}</td>
                    <td>{{ topTrack.album.name }}</td>
                    <td>
                        <audio [src]="topTrack.preview_url" controls></audio>
                        <!--<iframe [src]="topTrack.uri | domseguro:'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>-->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>